@font-face {
  font-family: Test;
  src: url(fonts);
}

#form-header {
  background-color: rgb(0, 0, 0);
  padding: 2px;
  color: white;
  border: 15px;
  border-color: white;
  border-style: outset;
  border-radius: 10px;
}
#form-main {
  border: 15px solid rgb(211, 22, 4); /*This is short had for border size, style, and color*/
  background-color: rgb(0, 0, 0);
  color: white;
}
#form-footer {
  background-color: rgb(0, 0, 0);
  color: white;
}
h1 {
  font-family: sans-serif, "Times New Roman", Times, serif;
}
label {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
