/* Importing the Quicksand font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Define custom CSS variables in the root */
:root {
  --yellow: #ccc922; /* Custom variable for yellow color */
  --purple: #4000a0; /* Custom variable for purple color */
  --green: #00ff0a; /* Custom variable for green color */
  --white: #fff; /* Custom variable for white color */
  --black: #111; /* Custom variable for black color */
  --grey: #3e3e3e; /* Custom variable for grey color */
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Body styles */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

/* Navigation bar styles */
#navbar {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  background-color: var(--grey);
  border-radius: 5px;
}

#navbar ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 15px;
  display: block;
}

/* Hover styles for all li tags in the navbar */
#navbar li:hover {
  background-color: var(--grey);
  color: var(--white);
}

/* About section styles */
#about {
  position: relative;
  padding: 20px;
}

img {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin: auto;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  color: var(--white);
  margin: 10px;
}

i {
  position: absolute;
  border: 2px solid var(--white);
  inset: 0;
  transition: 0.5s;
}

.b1,
.b2,
.b3 {
  margin: auto;
  width: 500px;
  animation-duration: 6s, 4s, 10s;
  animation-iteration-count: infinite;
}

.b1 {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation-name: clockwise;
}

.b2 {
  border-radius: 43% 67% 68% 42% / 46% 49% 61% 64%;
  animation-name: clockwise;
}

.b3 {
  border-radius: 32% 57% 58% 32% / 36% 39% 51% 54%;
  animation-name: counterclockwise;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hover styles for .b1, .b2, .b3 when the parent div is hovered */
#about:hover .b1 {
  border-color: var(--green);
  filter: drop-shadow(0 0 20px var(--green));
}
#about:hover .b2 {
  border-color: var(--purple);
  filter: drop-shadow(0 0 20px var(--purple));
}
#about:hover .b3 {
  border-color: var(--yellow);
  filter: drop-shadow(0 0 20px var(--yellow));
}
